body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: black;
  }
  
  button:active {
    transform: translateY(2px);
  }
  
  